// Global Variables
$black: black;
$white: white;

$dark: #282828;
$light: white;

$background: #f3f3f3;

$gutter_width: 20px;

$donation: #00aa33;
$status: #00ccff;
$charity: #ff6600;
$team: #990000;
$image: #ff0066;
$medium: #ff6600;

$destructive: #990000;

$link: #12a8dd;
$link_focus: mix($link, $white, 15%);
$link_hover: mix($link, $black, 15%);

$radius: 3px;
$shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
$shadow_dark: 0px 1px 3px rgba(0, 0, 0, 0.7);

$highlight: rgba(yellow, 0.1);

$accent: rgba(0, 0, 0, 0.1);
$accent_background: #f8f8f8;
$accent_light: rgba(0, 0, 0, 0.05);
$accent_outline: rgba(0, 0, 0, 0.1);
$accent_strong: rgba(0, 0, 0, 0.25);

$font_stack: helvetica, arial, sans-serif;

$container_width: 940px;
$masthead_height: 290px;

$grid_columns: 10;
$grid_column_gutter: $gutter_width * 2;
$grid_fluid_column_gutter: percentage($grid_column_gutter / $container_width);
$grid_row_width: $container_width;

$small_screen: 480px;
$medium_screen: 768px;
$site_screen: 980px;
$large_screen: 1100px;
$wide_screen: 1400px;

$avatar_height: 60px;
$avatar_width: 60px;
$small_avatar_width: 40px;

$colour_picker_size: 214px;

$input_height: 30px;

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin vendor($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin box-shadow($shadow: $shadow) {
  $shadow: unquote($shadow);
  @include vendor(box-shadow, $shadow);
}

* {
  margin: 0;
  padding: 0;
  font-family: $font_stack;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  //background: $background;
  background: $light url("../images/bg.jpeg") left top no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

a:link {
  color: $link;
}

a:visited {
  color: darken($link, 10%);
}

a:hover {
  color: $link_hover;
}

h1, .h1 {
  font-size: 16px;
  font-family: $font_stack;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 5px;
}

h3, .h3 {
  margin-top: 20px;
}

.a--100 {
  width: 100%;
}

.l--90 {
  width: 90%;
}

.l--80 {
  width: 80%;
}

.l--70 {
  width: 70%;
}

.l--60 {
  width: 60%;
}

.l--50 {
  width: 60%;
}

.l--40 {
  width: 40%;
}

.l--30 {
  width: 30%;
}

.l--30 {
  *width: 29.99%;
}

.l--20 {
  width: 20%;
}

.l--10 {
  width: 10%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: $dark url("../images/pattern_black_push_right.png") repeat;
  display: block;
  line-height: 53px;
  position: relative;
  &.top {
    height: 53px;
    z-index: 2;
  }
  h1, .h1 {
    font-size: 16px;
    color: $light;
    font-family: $font_stack;
    margin-left: 10px;
  }
  @include box-shadow($shadow);
}

.section, section, .aside, aside {
  @include clearfix;
}

.aside {
  @include clearfix;
}

.main {
  @include box-shadow($shadow);
  background: #f8f8f8;
  position: relative;
  max-width: 945px;
}

.main p {
  margin: 15px 0;
  font-size: 15px;
  line-height: 24px;
}

.main li {
  font-size: 15px;
  line-height: 20px;
}

.content {
  h2, .h2 {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid lighten($dark, 70%);
  }
  .inner {
    padding: 30px;
    border: 1px solid lighten($dark, 70%);
    min-height: 600px;
  }
  background: $light;
}

.side-bar {
  .inner {
    padding: 30px;
  }
}

.nav, nav {
  ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 5px;
    ul {
      padding-left: 20px;
      padding-top: 5px;
    }
  }
  ul {
    border-top: 1px solid lighten($dark, 70%);
    border-bottom: 1px solid lighten($dark, 70%);
  }
}

.main {
  ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 5px;
    ul {
      padding-left: 20px;
      padding-top: 5px;
    }
  }
}

pre {
  border: 1px solid lighten($dark, 70%);
  line-height: 1.4em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 10px 0 10px 0;
  code {
    white-space: pre;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}

dt {
  margin-bottom: 5px;
  &:after {
    content: ":";
    padding-left: .25em;
  }
}

dd {
  margin-bottom: 15px;
}

dt {
  font-weight: bold;
}

@media (max-width: 890px) {
  .m--100 {
    width: 100%;
  }
  .m--50 {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .main {
    max-width: 100%;
  }
  .s--100 {
    width: 100%;
  }
  .s--50 {
    width: 50%;
  }
}

.status {
  font-weight: bold;
}

.available {
  color: #009933;
}

.down {
  color: #CC0000;
}
